<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <Gateway/>
      </v-col>
      <v-col cols="6">
        <Device/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Gateway from '../components/Gateway'
import Device from '../components/Device'

export default {
  name: 'Home',
  components: {
    Gateway,
    Device
  }
}
</script>
