<template>
  <v-data-table
    :headers="headers"
    :items="gateway ? gateway.peripheralDevices : []"
    sort-by="name"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Devices</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        />
        <v-toolbar-title> of {{ gateway.name }} </v-toolbar-title>
        <v-spacer/>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              New Device
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.vendor"
                      label="Vendor"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-checkbox
                      small
                      dense
                      v-model="editedItem.status"
                    >Status</v-checkbox>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer/>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer/>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer/>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.status="{ item }">
      <v-checkbox
        disabled
        small
        dense
        v-model="item.status"
      />
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table></template>

<script>

import { mapState, mapActions } from 'vuex'
export default {
  name: 'Device',
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: 'Vendor',
        align: 'start',
        sortable: false,
        value: 'vendor'
      },
      { text: 'Status', value: 'status' },
      { text: 'Actions', value: 'actions', sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      ipv4: '0.0.0.0'
    },
    defaultItem: {
      name: '',
      ipv4: '0.0.0.0'
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Device' : 'Edit Device'
    },
    ...mapState({
      gateway: state => state.gw
    })
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },

  methods: {
    ...mapActions({
      createDevice: 'createDevice',
      editDevice: 'editDevice',
      deleteDevice: 'deleteDevice'
    }),

    editItem (item) {
      this.editedIndex = item.id
      this.editedItem = { ...item }
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = item.id
      this.editedItem = { ...item }
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.deleteDevice(this.editedItem)
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex === -1) {
        this.createDevice({ gateway: this.gateway, device: this.editedItem })
      } else {
        this.editDevice({ gateway: this.gateway, device: this.editedItem })
      }
      this.close()
    }
  }
}
</script>

<style scoped>

</style>
